body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#pictures {
  margin-top: 1em;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 1rem;
}

.section {
  background: url(/imageF/imageF.webp);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
}
.container {
  padding-top: 6rem;
}

.container h2 {
  font-weight: 600;
  color: #ffffff;
  font-size: 38px;
  padding-left: 12rem;
}
.container p {
  font-weight: 500;
  color: #ffffff;
  font-size: 20px;
}
p {
  font-weight: 100;
  color: #ffffff;
  padding-top: 10px;
  font-size: 17px;
}
#input {
  margin-left: 7em;
}
.form-control-lg {
  width: 680px;
  border: 0;
  outline: none;
  margin-left: 1.5em;
}
.barbtn {
  position: relative;
  left: 10.5rem;
  top: 0.8em;
}
#searchbtn {
  border: 0;
  background-color: white;
  outline: white;
}

.barbtn i {
  color: gray;
  font-weight: lighter;
}

.dropbtn {
  display: none;
  background-color: black;
  box-sizing: border-box;
  width: 15%;
  position: absolute;
  left: 48rem;
  border-radius: 5px;
  margin-top: 4rem;
}
.dropbtn.active {
  display: flex;
}
.wrapper p {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
  height: 25px;
}

.dropbtn p:hover {
  background-color: #80808023;
  width: 70%;
  border-width: 50%;
}
.dropbtn p {
  margin-left: 2em;
  font-size: 14px;
  margin-top: 8px;
  padding-top: -3rem;
  color: slategrey;
}

.seven {
  border-top: 0.5px solid gray;
  width: 70%;
}
.dropmenu {
  font-size: 18px;
  font-weight: 400;
}
#picture {
  display: flex;
  background: white;
}
.upbtn {
  background-color: #068d55e8;
  padding: 6px 23px;
  border-radius: 20px;
  border: none;
  color: #fff;
  font-weight: 0;
  margin-top: -0.5em;
}
.upbtn i {
  font-weight: 50;
}
.hide {
  display: none;
  flex-direction: row;
  margin-top: -2rem;
}
.hide i {
  margin-left: 2rem;
}
.hide a {
  margin-left: 2rem;
  color: #fff;
}
.icon {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.listitem {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.firstone:hover + .hide {
  display: flex;
  color: #fff;
}

div.gallery img {
  width: 100%;
  height: auto;
}

.responsive {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#boxtext {
  margin-top: 1rem;
  padding-left: 1em;
  font-size: 16px;
}
#down {
  margin-top: 9rem;
  font-size: 17px;
}
